<!DOCTYPE html>
<html>
  <head>
    <title>Borrowed Books</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-light">
    <div class="container mt-5">
      <h1 class="text-center text-success">Borrowed Books</h1>
      <% if @borrowed_books.any? %>
        <ul class="list-group">
          <% @borrowed_books.each do |book| %>
            <li class="list-group-item">
              <%= link_to book.title, book_path(book) %> by <%= book.author %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p class="text-center text-muted">No books currently borrowed.</p>
      <% end %>
      <div class="text-center mt-4">
        <%= link_to 'Back to Books List', books_path, class: 'btn btn-secondary' %>
      </div>
    </div>
  </body>
</html>
