<!DOCTYPE html>
<html>
  <head>
    <title>Library</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-light">
    <div class="container mt-5">
      <h1 class="text-center text-success"><%= @book.title %></h1>
      <p class="text-center">Author: <%= @book.author %></p>
      <p class="text-center">Published Year: <%= @book.publish_year %></p>

      <% if current_user %>
        <% active_borrow = @book.borrows.find_by(user: current_user, ended_at: nil) %>
        <% if active_borrow %>
          <p class="text-center text-danger">You have currently borrowed this book.</p>
          <%= form_with model: active_borrow, url: borrow_path(active_borrow), method: :delete, local: true, class: 'form-inline justify-content-center' do |form| %>
            <%= form.submit 'Return this book', class: 'btn btn-warning' %>
          <% end %>
        <% elsif @book.borrows.where(ended_at: nil).exists? %>
          <p class="text-center text-danger">This book is currently borrowed by someone else.</p>
        <% else %>
          <%= form_with model: Borrow.new, url: borrows_path, local: true, class: 'button-section-yo form-inline justify-content-center' do |form| %>
            <%= form.hidden_field :user_id, value: current_user.id %>
            <%= form.hidden_field :book_id, value: @book.id %>
            <%= form.submit 'Borrow this book', class: 'btn btn-success' %>
          <% end %>
        <% end %>
      <% else %>
        <p class="text-center">You need to <%= link_to 'login', login_path %> to borrow this book.</p>
      <% end %>

      <div class="button-section-yo d-flex justify-content-center mt-3">
        <%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-warning' %>
        <%= link_to 'Back', books_path, class: 'btn btn-secondary' %>
        <%= button_to 'Delete', @book, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </div>
    </div>
  </body>
</html>
