<nav class="navbar navbar-expand-lg navbar-light bg-custom">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="<%= books_path %>">
      <img src="<%= asset_path('logo.png') %>" alt="Logo" style="height: 50px;">
      <span class="ms-2">Books</span>
    </a>
    <% if logged_in? %>
      <a class="navbar-brand nav-link" href="<%= borrow_history_user_path(current_user) %>">Borrow History</a>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto d-flex align-items-center">
        <% if logged_in? %>
          <li class="nav-item">
            <span class="nav-link">Welcome, <%= current_user.email %></span>
          </li>
          <li class="nav-item">
            <%= link_to 'Logout', logout_path, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'nav-link btn-logout' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Login', login_path, class: 'nav-link btn-login' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Register', register_path, class: 'nav-link btn-register' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
